DrvHelperSystem/App_WebReferences/wsFinger/wsFingerImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://impl.finger.aratek.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://inter.finger.aratek.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://cxf.apache.org/bindings/xformat" name="wsFingerImplService" targetNamespace="http://impl.finger.aratek.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://inter.finger.aratek.com/" location="http://192.168.1.10:8091/TrustLinkWebService/services/wsFinger?wsdl=IwsFinger.wsdl" />
  <wsdl:types />
  <wsdl:binding name="wsFingerImplServiceSoapBinding" type="ns1:IwsFinger">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsGetAgentInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="wsGetAgentInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetAgentInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetUserRepeat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="wsGetUserRepeat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetUserRepeatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetUserInResult">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="wsGetUserInResult">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetUserInResultResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetEnrolledFingersInResult">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="wsGetEnrolledFingersInResult">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetEnrolledFingersInResultResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsFPEnroll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="wsFPEnroll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsFPEnrollResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsFPCompare">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="wsFPCompare">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsFPCompareResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsFingerImplService">
    <wsdl:port name="wsFingerImplPort" binding="tns:wsFingerImplServiceSoapBinding">
      <soap:address location="http://192.168.1.10:8091/TrustLinkWebService/services/wsFinger" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>